name: Go

on:
  push:
    branches:
      - main
  pull_request:

env:
  # renovate: datasource=golang-version depName=golang
  GO_VERSION: '1.25.7'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

    - name: Set up Go
      uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6
      with:
        go-version: '${{ env.GO_VERSION }}'
      id: go

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v -cover ./...
